

html {
    scroll-behavior: smooth;
}

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Rubik";
}

body{
    padding: 0;
    margin: 0;
    background:#f4f4f4;
}
.btn {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
    padding-top: 10px;
}

/* navbar style*/
.navbar-brand{
    color: #f4f4f4 !important; 
  }
  .navbar{
      background:#F97300;
  }
  .nav-link{
      margin-right: 1em !important;
      cursor: pointer;
  }
  .nav-link:hover, .navbar-brand:hover{
      background: #f4f4f4;
      color: #f97300 !important;
  }
  .navbar-text{
  color: #f4f4f4 !important;
  font-size: 17px;
  font-family: "Rubik";
  }
  .navbar-collapse{
   text-align: center;
   padding-top: 10px;  
  }
  .navbar-toggler{
    background:#fff !important;
    text-align: center !important;
  }
  .navbar-light .navbar-nav .nav-link{
      color: #f4f4f4   
  }
  .fa-linkedin, .fa-twitter, .fa-facebook{
      font-size: 15px;  
  }
  #phone-btn {
    border: 3px solid #fff;
    border-radius: 5%;
    background: #F97300;
    color: #fff !important;
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px; 
}
#phone-btn:hover{
    background-color: #6c757d;
}

/* header style*/
.header{
	position: relative;
	background-image: url("/img/ac.jpg");
	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
	color:#F97300 ;
}
.description p{
	color:#666;
	font-size: 18px;
	width: 50%;
    line-height: 1.5; 
    text-align: left;
}


/* about style*/

.about{
	margin: 8em 0;
    position: relative;
    font-size: 15px;
}
.about h1{
	color:#F97300;
	margin: 2em;
}
@media only screen and (max-width:1200px){

     .img-fluid{
        display: none;
    }  
}

.img-fluid{
	height: 100%;
    width: 100;
    border-radius: 10%;
    
}
.about span{
	display: block;
	color: #666;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
   
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
    color:#666;
    text-align: justify; 
}

/* sevices style*/
#services{
position: relative;
margin-top: 10em;
}
.services{
    margin: 50px, auto;
    text-align: center;
    color: #F97300;
}
#services p{
    font-size: 17px;
    text-align: justify;
}
.services h2{
color: #666;
padding-top: 20px;

}
#wrench:hover .fa-wrench{
    transition: 0.9s;
    transform: rotateZ(360deg);
    }
#cog:hover .fa-cog{
    transition: 0.9s;
    transform: rotateZ(360deg);
}
.icon{
    font-size: 6em;
    color: #F97300;
}

/*reviews style*/
@media (min-width:1200px){
  .card-deck span:nth-of-type(5n) {
    display: block;
    width: 100%;
  } 
}
@media (min-width:992px) and (max-width: 1199px) {
 .card-deck span:nth-of-type(4n) {
    display: block;
    width: 100%;
  }
}
@media (min-width:768px) and (max-width: 991px) {
  .card-deck span:nth-of-type(3n) {
    display: block;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card-deck span:nth-of-type(2n) {
    display: block;
    width: 100%;
  }
}
#reviews h1{
    margin: 2em;
    margin-top: 5em;
    color: #F97300;
}
#reviews .card {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#reviews .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}
#reviews .card:hover::after {
    opacity: 1;
}
#reviews .card-title {
    color: #F97300;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
}
#reviews .card-text {
    margin-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-size: 15px;
}

/* contact form style*/
.contact-form{
	margin: 8em 0;
	position: relative;		
}
.contact-form h1{
	padding:1em 1px;
	color: #F97300; 
}
.contact-form .right{
    max-width: 600px;
    
}
.contact-form .right .btn-secondary{
	background:  #F97300;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #999;
	font-size: 16px;
}








