
/* global */
html {
    scroll-behavior: smooth;
}

html,h1,h2,h3,h4,h5,h6,a,header{

    font-family: "Rubik";
}

body{
    padding: 0;
    margin: 0;
    background:#f4f4f4;
}
.btn, .social {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
    padding-top: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* end global */

/* navbar */

header{
    position: relative;
    max-width: auto;
    padding: 10px;
    background: #F97300;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    z-index: 1;
}
#logo{

    color:#f4f4f4;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    background: #F97300;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 100;
    text-decoration: none;
}
nav{

    float: right;
    
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav ul li{

    list-style: none;

}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #f4f4f4; 
   
}

nav ul li a.active, nav ul li a:hover{
    background: #f4f4f4;
    color: #F97300;
    

}
@media (max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        margin-left: 200px;
        background: #F97300;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #f4f4f4;
        
    }

.menu-toggle:before{
    content: '\f0c9';
    font-family: fontawesome;
    line-height: 40px;
    
   }
.menu-toggle.active:before{
    content: '\f00d';
    font-family: fontawesome;
}


    nav{
    display: none;
   
   }
   nav.active{
    display: block;
    width: 100%;
   
   }
   nav.active ul{
       display: block;
       
   }
   nav.active ul li a{
    margin: 0;
    
}
}

/* end navbar */


/* hero image*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url("/img/ac.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  font-size: 1.5em;
}

.hero-text{
  text-align: left;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4f4f4;
  line-height: 1;
  overflow-wrap: break-word;
}

.hero-text h1{
    color: #F97300;
}

@media (max-width: 1200px){
    .hero-text{
        font-size: 1.5rem;
    }
}

/* end hero image */



/* about */
.about{
	margin: 8em 0;
    position: relative;
    font-size: 15px;
    
}
.about h1{
	color:#F97300;
	margin: 2em;
}
@media only screen and (max-width:1200px){

     .img-fluid{
        display: none;
    }  
}

.img-fluid{
	height: 100%;
    width: 100;
    border-radius: 10%;
    
}
.about span{
	display: block;
	color: #666;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
   
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
    color:#666;
    text-align: justify; 
}
/* end about */



/* sevices */
#services{
position: relative;
margin-top: 10em;
}
.services{
    margin: 50px, auto;
    text-align: center;
    color: #F97300;
}
#services p{
    font-size: 17px;
    text-align: justify;
}
.services h2{
color: #666;
padding-top: 20px;

}
#wrench:hover .fa-wrench{
    transition: 0.9s;
    transform: rotateY(360deg);
    }
#cog:hover .fa-cog{
    transition: 0.9s;
    transform: rotateZ(360deg);
    
}
.icon{
    font-size: 6em;
    color: #F97300;
}
/* end services */




/* reviews */
@media (min-width:1200px){
  .card-deck span:nth-of-type(5n) {
    display: block;
    width: 100%;
  } 
}
@media (min-width:992px) and (max-width: 1199px) {
 .card-deck span:nth-of-type(4n) {
    display: block;
    width: 100%;
  }
}
@media (min-width:768px) and (max-width: 991px) {
  .card-deck span:nth-of-type(3n) {
    display: block;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card-deck span:nth-of-type(2n) {
    display: block;
    width: 100%;
  }
}
#reviews h1{
    margin: 2em;
    margin-top: 5em;
    color: #F97300;
}
#reviews .card {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#reviews .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}
#reviews .card:hover::after {
    opacity: 1;
}
#reviews .card-title {
    color: #F97300;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
}
#reviews .card-text {
    margin-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-size: 15px;
}
/* end reviews */



/* contact form */
.contact-form{
	margin: 8em 0;
	position: relative;		
}
.contact-form h1{
	padding:1em 1px;
	color: #F97300; 
}
.contact-form .right{
    max-width: 600px;
    
}
.contact-form .right .btn-secondary{
	background:  #F97300;
	color: #fff;
    border:0;
    
}
.contact-form .right .form-control::placeholder{
	color: #999;
	font-size: 16px;
}
input[type=submit] {
    font-size: 1.25em;
}
/* end contact form */

/* social media */
.social{
    width: 60px;
    height: 60px;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
}
.social-media{
    text-align: center;

}
/* social media end */




